<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Bundle.RenderCss("layout")
    @if (ViewBag.EntryPoint != null)
    {
        @Bundle.RenderCss(ViewBag.EntryPoint)
    }
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    @Html.React("Components.TopBarLinks", new
    {
        links = new[]
        {
            new 
            {
                text = "Home",
                url = Url.Action("Index", "Home")
            },
            new
            {
                text = "Lorem",
                url = Url.Action("Lorem", "Home")
            },
            new
            {
                text = "Redux",
                url = Url.Action("Redux", "Home")
            },
            new
            {
                text = "Todo List",
                url= Url.Action("Todo", "Home")
            },
            new
            {
                text = "Food Trucks",
                url = Url.Action("Index", "FoodTrucks")
            }
        }
    }, serverOnly: true);

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scriptdata", required: false)

    @Bundle.RenderScripts("layout")
    @if (ViewBag.EntryPoint != null)
    {
        @Bundle.RenderScripts(ViewBag.EntryPoint)
    }
    @RenderSection("scripts", required: false)
</body>
</html>
