@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model ReactDemo.Models.PagedData<ReactDemo.Models.FoodTruck>

@{
    ViewBag.Title = "Food Trucks";
    ViewBag.EntryPoint = "FoodTruck_index";

    var trucks = Model.CurrentPage.ToList();

    var state = new
    {
        Entities = new
        {
            Trucks = trucks.ToDictionary(t => t.Id, t => t)
        },
        TruckPaging = new
        {
            SortedTruckIds = trucks.Select(t => t.Id),
            TrucksMatchingSearch = Model.FilteredItems,
            TotalTrucks = Model.TotalItems,
        }
    };

    var stateJson = JsonConvert.SerializeObject(state, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()});
}

<div id="app"></div>

@section scriptdata
{
    <script type="text/javascript">
        @*var routes = {
            getFoodTrucks: '@Url.Action("GetTrucks", "FoodTrucks")',
            getFoodTruckMenu: '@Url.Action("GetMenu", "FoodTrucks")',
            getFoodTruckSchedule: '@Url.Action("GetSchedule", "FoodTrucks")',
            deleteFoodTruck: '@Url.Action("DeleteTruck", "FoodTrucks")',
        };*@

        var preloadedState = @Html.Raw(stateJson);
    </script>
}
